@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@100;400;700&family=Kaisei+Opti&display=swap');

body{
  margin:0
}
.bg video{
  position: absolute;
  z-index: -100;
  width: 100%;
}
.bg{
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow:hidden;
  display:flex;
  justify-content:center;
  align-items:center
}

#titre {
   display:flex;
   justify-content:center;
   align-items: center;
   font-size: 30px;
   flex-wrap: wrap;
   color: white;
   flex-direction:column;
}

#titre img {
  width: 200px;
}

#titre h1 {
  margin: 0;
  padding: 0;
  font-family: 'Kaisei Opti';
}

#titre h3 {
  margin: 0;
  padding: 0;
  font-family: 'Gayathri';
}

#MadeuxiemeDiv{
display:flex;
flex-direction:row;
}