@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@100;400;700&family=Kaisei+Opti&display=swap');

body{
  margin:0
}
.bg video{
  z-index: -100;
  width: 100%;
}
.bg{
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow:hidden;
  display:flex;
  justify-content:center;
  align-items:center
}

#titre {
   display:flex;
   justify-content:center;
   align-items: center;
   font-size: 30px;
   flex-wrap: wrap;
   color: white;
   flex-direction:column;
   height: 100vh;
}

#titre img{
  width: 45px;
}

#titre h1 {
  margin: 0;
  padding: 0;
  font-family: 'Kaisei Opti';
  justify-content:center;
  align-items: flex-start;
}

#titre h3 {
  margin: 0;
  padding: 0;
  font-family: 'Gayathri';
  justify-content:center;
  align-items: flex-start;
  font-size: 40px;
}


#pict {
  margin: 5em;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}
#titre h1{
  display:flex;
  font-family: 'Kaisei Opti';
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 96px;
}
 h1{
  display:flex;
  font-family: 'Kaisei Opti';
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 96px;
  top: 50px;

}
#pict img{
  border-radius: 30px;
  width: 378px;
  height: 727px;
  margin: 1em;
}
.Laboss{
  position: relative;
  display: flex;
  flex-direction: column;
}
#titre img{
    margin: 3em;
}

#pict *:nth-child(2){
  position:sticky;
  display: grid;
  z-index: 1;
  bottom: 50px;
}


