@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@100;400;700&family=Kaisei+Opti&display=swap');

h2 {
  position: relative;
    color: white;
    font-family:'Kaisei Opti';
    font-size: 32px;
    left: 99px;
    top: 150px;
    z-index: 20;
}
img{
  object-fit: cover;

}